<nav>
    <ul style="list-style: none; display: flex; justify-content: space-around; padding: 10px; background-color: #333; color: white;">
        <li><a href="/top" style="color: white;">🏠 トップ</a></li>
        <li><a href="/todolist" style="color: white;">📝 ToDo</a></li>
        <li><a href="/friend" style="color: white;">👥 フレンド</a></li>
        <li><a href="/point" style="color: white;">💎 ポイント</a></li>
    </ul>
</nav>
