<!-- views/top.ejs -->
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>トップページ</title>
</head>
<body>
    <h2>メニュー</h2>
    <ul>
        <li><a href="/todolist">ToDoリスト</a></li>
        <li><a href="/friendslist">フレンド一覧</a></li>
        <li><a href="/register">ポイント登録</a></li>
    </ul>
</body>
</html>
